<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.stoux.schucklechat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="sChuckle Chat"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.stoux.schucklechat.LoginActivity"
            android:label="sChuckle Chat"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.stoux.schucklechat.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="nl.stoux.schucklechat.ChatListActivity"
            android:label="@string/title_activity_chat_list" >
        </activity>
        <activity
            android:name="nl.stoux.schucklechat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName="nl.stoux.schucklechat.ChatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.stoux.schucklechat.ChatListActivity" />
        </activity>
        <activity
            android:name="nl.stoux.schucklechat.UserSelectActivity"
            android:label="@string/title_activity_user_select"
            android:parentActivityName="nl.stoux.schucklechat.ChatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.stoux.schucklechat.ChatListActivity" />
        </activity>
    </application>

</manifest>
